@font-face {
    font-family: 'Sen Regular';
    src: url('../fonts/Sen-Regular.ttf');
}

@font-face {
    font-family: 'Sen Bold';
    src: url('../fonts/Sen-Bold.ttf');
}

@font-face {
    font-family: 'Sen ExtraBold';
    src: url('../fonts/Sen-ExtraBold.ttf');
}

:root {
    --color-yellow: #FFD622;
    --color-black: #191923;
    --color-gray: #CACACA;
    --size-heading: 60px;
    --size-big: 100px;
    --size-large: 150px;
    --size-btn: 24px;
    --size-text: 26px;
    --size-contact-heading: 32px;
    --size-contact-text: 18px;
    --size-countdown: 43px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-yellow);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Sen Regular';
    scroll-behavior: smooth;
    transition: all 0.5s ease;
    font-size: var(--size-text);
}

body {
    background: var(--color-gray);
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.section-wrapp {
    position: relative;
}

.container {
    max-width: 1300px;
    padding: 0 5%;
    margin: 0 auto;
}

header {
    padding: 31px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_enter_course {
    background: var(--color-black);
    color: var(--color-yellow);
    padding: 11px 35px;
    border-radius: 10px;
    font-family: 'Sen Bold';
}

.header_enter_course:hover {
    transform: scale(0.9);
}

.hero {
    position: relative;
    top: 0;
    padding-top: 93px;
    padding-bottom: 30px;
}

.header_enter_course img {
    display: none;
}

.hero::before,
.secondary::before,
.third::before,
.contact::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 1px;
    bottom: 0;
    background: var(--color-black);
}

.hero-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-item {
    width: 50%;
}

.hero-item img {
    width: 100%;
}

h1.heading {
    font-family: 'Sen Bold';
    font-size: var(--size-big);
}

h3.heading {
    font-family: 'Sen Bold';
    font-size: var(--size-heading);
}

.hero-lower_info {
    margin-top: 10px;
}

.hero-coundown span {
    position: relative;
    top: 7px;
    left: 10px;
    font-family: 'Sen Bold';
    font-size: var(--size-countdown);
}

.hero-coundown sub {
    font-family: 'Sen Bold';
}

.hero-link {
    padding: 11px 35px;
    border-radius: 30px;
    background: var(--color-yellow);
    color: var(--color-black);
    font-family: 'Sen Bold';
    border: 2px solid var(--color-black);
    margin-bottom: 22px;
    display: inline-block;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 53px;
    min-height: 53px;
    background: var(--color-yellow);
    color: var(--color-black);
    border-radius: 10px;
    position: fixed;
    right: -50%;
    bottom: 4%;
    z-index: 1000;
}

.up.scrolled {
    right: 4%;
}

.up:hover {
    transform: scale(0.9);
}

.secondary,
.third,
.contact {
    position: relative;
    padding-top: 44px;
    padding-bottom: 30px;
}

.secondary_list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.secondary_item {
    width: 48%;
}

.secondary_info_item:nth-child(2) p {
    margin-top: 72px;
}

.secondary_info_item p {
    margin: 20px 0;
}

.secondary_info_item a {
    color: var(--color-yellow);
    background: var(--color-black);
    padding: 11px 35px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    margin-top: 39px;
}

.secondary_info_item a:hover {
    transform: scale(0.9);
}

.secondary_item:nth-child(2) {
    padding-top: 140px;
}

.secondary_info_right_item:nth-child(2),
.secondary_info_right_item:nth-child(3),
.secondary_info_right_item:nth-child(4) {
    padding: 30px;
    margin: 20px 0;
    border: 1px solid var(--color-black);
    border-radius: 36px;
}

.secondary_info_right_item:nth-child(2) {
    margin-top: 72px;
}

.secondary_inner_list {
    display: flex;
    align-items: center;
}

.secondary_inner_item.heading {
    font-size: var(--size-large);
    font-family: 'Sen ExtraBold';
    margin-right: 30px;
    line-height: 80%;
}

.third_list_answer {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.third_item_answer {
    width: 60%;
    padding: 35px 42px;
    border: 1px solid var(--color-black);
    border-radius: 36px;
}

.third_item_answer_image {
    width: 30%;
}

.third_item_answer_image img {
    width: 100%;
}

.reversed {
    flex-direction: row-reverse;
}

.hero-coundown {
    font-family: 'Sen Bold';
}

.contact_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact_item {
    width: 48%;
}

.contact_text {
    margin: 15px 0;
}

.contact_item:nth-child(2) {
    width: 48%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.contact_form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-black);
    outline: none;
    background: transparent;
    font-size: var(--size-contact-text);
    position: relative;
    z-index: 10;
    margin: 15px 0;
}

.contact_form input::placeholder {
    color: var(--color-black);
    opacity: 0.6;
}

.contact_form {
    width: 100%;
    padding: 40px 50px;
    background: linear-gradient(180deg, #FDD12A 0%, #2674B4 100%);
    border: 1px solid #333333;
    border-radius: 36px;
}

.contact_body_text,
.contact_body_text a {
    font-size: var(--size-contact-text);
}

.contact_body_heading {
    margin-bottom: 14px;
}

.contact_form label {
    display: none;
}

.contact_form button {
    padding: 11px 35px;
    background: var(--color-black);
    color: var(--color-yellow);
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.contact_form button:hover {
    transform: scale(0.9);
}

footer {
    padding: 30px 0;
}

.footer_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_item_socials a i {
    color: var(--color-black);
    display: inline-block;
}

.footer_item_socials a:nth-child(2) i {
    margin: 0 31px;
}